body {
  background-color: azure;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  background-color: teal;
}

p {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  background-color: turquoise;
}
